.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	// will-change: transform;
	position: relative;
	background: url('../../i//global/footer-bg.jpg') center/cover no-repeat;
	color: $white;

	h2, h3, h4, h5, h6 {
		color: $white;
	}

}

.footer {
}
.section_in {
}
.footer_main {
}
.footer_head {
}
.footer_form_head {
	margin-bottom: 5rem;

	.fz30 {
		margin-bottom: 1.5rem;
	}
}
.footer_form_w {
	.global_input {
		margin: 0;
	}
	a {
		color: $white;
		border-color: $white!important;
	}

	.form_notice {
		padding-left: 1rem;
	}

	.btn {
		margin-left: 0.5rem;
		@include bp($point_5) {
			margin-left: 0;
		}
		input {
			width: 100%;
		}
	}
}
.footer_form {
	grid-gap: 1.5rem;
	align-items: center;
}
.grid-4 {
}
.global_input {
}
.form_input {
}
.btn {
}
.undefined-btn {
}
.form_notice {
}

.social-list {
}
.social_item {
}
.icon {
}
.icon-wa {
}
.icon-tg {
}
.footer_bottom {
	border-top: .1rem solid rgba(255, 255, 255, 0.15);
	padding: 3.5rem 0;
	@include flex-space;
	font-size: 1.6rem;
	@include bp($point_2) {
		font-size: 1.2rem;
		padding: 2rem 0
	}
	@include bp($point_5) {
		flex-direction: column;
		align-items: flex-start
	}
}
.footer_col--left {
	@include flex-start;
	@include bp($point_2) {
		justify-content: space-between;
		flex-grow: 1;
		margin-right: 3rem;
	}
	@include bp($point_5) {
		margin: 0 0 1rem 0;
		flex-direction: column;
		opacity: .7;
		align-items: flex-start;
	}
	a {
		color: $white;
	}
	span {
		display: block;
		margin-right: 8rem;
		@include bp($point_2) {
			margin-right: 0;
		}
		@include bp($point_5) {
			margin: 0 0 .5rem 0;
		}
	}
}
.footer_col--right {
	width: 23.8rem;
	@include bp($point_2) {
		width: 15rem;
	}
	@include bp($point_5) {
		opacity: .7;
	}
}