.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-right {
	font-size:calc(15/10)*1rem;
	width:calc(8/15)*1em;
}
.icon-call {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-close {
	font-size:calc(20/10)*1rem;
	width:calc(21/20)*1em;
}
.icon-close-line {
	font-size:calc(27/10)*1rem;
	width:calc(27/27)*1em;
}
.icon-down {
	font-size:calc(9/10)*1rem;
	width:calc(16/9)*1em;
}
.icon-fill-check {
	font-size:calc(27/10)*1rem;
	width:calc(27/27)*1em;
}
.icon-next {
	font-size:calc(15/10)*1rem;
	width:calc(8/15)*1em;
}
.icon-no {
	font-size:calc(20/10)*1rem;
	width:calc(21/20)*1em;
}
.icon-service-0 {
	font-size:calc(26/10)*1rem;
	width:calc(30/26)*1em;
}
.icon-service-1 {
	font-size:calc(21/10)*1rem;
	width:calc(30/21)*1em;
}
.icon-service-2 {
	font-size:calc(25/10)*1rem;
	width:calc(19/25)*1em;
}
.icon-service-3 {
	font-size:calc(26/10)*1rem;
	width:calc(23/26)*1em;
}
.icon-tg {
	font-size:calc(16/10)*1rem;
	width:calc(17/16)*1em;
}
.icon-wa {
	font-size:calc(16/10)*1rem;
	width:calc(16/16)*1em;
}
.icon-yes {
	font-size:calc(20/10)*1rem;
	width:calc(29/20)*1em;
}
