extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'404'}
block content_block
	section.error-page 
		.section_in 
			.error_page--main
				h1 404
				p.fz23 Извините, такой страницы не существует!
